spring:
  application:
    name: customer-support-hub
  
  datasource:
    url: jdbc:mysql://localhost:3306/support_hub?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  
  data:
    mongodb:
      uri: mongodb://localhost:27017/support_hub
      database: support_hub
  
  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: UTC

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ISSUER_URI:http://localhost:8080}
          jwk-set-uri: ${JWT_JWK_SET_URI:http://localhost:8080/.well-known/jwks.json}

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    root: INFO
    com.support: DEBUG
    org.springframework.security: DEBUG
    org.springframework.data: DEBUG

